.header {
    background: #c2eabaff;
    height: 200px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }